body {
    background: url(pokeball-icon.png) -180px -80px no-repeat rgb(246, 248, 252);
    padding: 0px 5vw;
    font-optical-sizing: auto !important;
    font-weight: 500;
    font-style: normal;
}

.col-8 .row {
    justify-content: space-around;
}

.bot {
    margin-bottom: 10px;
}

.abce {
    background-color: white;
    box-shadow: #EDEDED 0 10px 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    z-index: 1;
}
:root{
    --bs-body-font-family: "Outfit", sans-serif !important;
}